<div data-filter={{sanitizedSummary}} class="_ocre-step panel panel-default">
    <div class="panel-heading">
        {{t 'components.step'}} {{stepIndex}}
        <div class="pull-right">
            <span class="badge fat-badge">
                {{minimum}} / {{target}}
            </span>
            {{#unless isFiltered}}
                <button class="btn btn-success btn-xs" {{action 'updateAll' 1}} disabled={{cantGloballyAdd}}>
                    {{fa-icon 'plus'}}
                </button>
                <button class="btn btn-danger btn-xs" {{action 'updateAll' -1}} disabled={{cantGloballyRemove}}>
                    {{fa-icon 'minus'}}
                </button>
            {{/unless}}
        </div>
    </div>
    <div class="panel-body compact-bars">
        {{#each progressBars as |progressBar|}}
            <div class="progress">
                <div class="progress-bar progress-bar-info" style={{percent-width progressBar}}></div>
            </div>
        {{/each}}
    </div>
    <ul class="list-group list-group-hover">
        {{#each parsedItems as |item|}}
            <li data-filter={{item.sanitizedName}} class="_ocre-item list-group-item {{if item.isCompleted 'list-group-item-success'}} {{if item.isStarted 'list-group-item-warning'}}">
                {{item.name}} <em>({{item.note}})</em>
                <div class="pull-right">
                    <strong>{{item.value}} / {{target}}</strong>
                    &mdash;
                    <button class="btn btn-success btn-xs" {{action 'update' item 1}} disabled={{item.cantAdd}}>
                        {{fa-icon 'plus'}}
                    </button>
                    <button class="btn btn-danger btn-xs" {{action 'update' item -1}} disabled={{item.cantRemove}}>
                        {{fa-icon 'minus'}}
                    </button>
                </div>
            </li>
        {{/each}}
    </ul>
</div>
