<div class="panel panel-default">
    <div class="panel-heading">
        Step {{stepDisplay}}
    </div>
    <ul class="list-group">
        {{#each parsedItems as |item|}}
            <li class="list-group-item">
                {{item.name}} <em>({{item.note}})</em>
                &mdash;
                <strong>{{item.value}}</strong>
                {{#if item.canAdd}}
                    <button class="btn btn-success btn-xs" {{action 'update' item 1}}>
                        {{fa-icon 'plus'}}
                    </button>
                {{/if}}
                {{#if item.canRemove}}
                    <button class="btn btn-danger btn-xs" {{action 'update' item -1}}>
                        {{fa-icon 'minus'}}
                    </button>
                {{/if}}
            </li>
        {{/each}}
    </ul>
</div>
