<button {{action 'decrementBy' 10}}>-10</button>
<button {{action 'decrementBy' 1}}>-1</button>
{{quantity}} / {{target}}
<button {{action 'incrementBy' 1}}>+1</button>
<button {{action 'incrementBy' 10}}>+10</button>
<button {{action 'maximise'}}>Max</button>