<div class="container">
    <h1>
        {{t 'workbench.prepare.manage'}} <em>{{model.name}}</em>

        {{#link-to 'workbench.crafting' model.id class="btn btn-sm btn-primary"}}
            {{t 'workbench.prepare.go_to_workbench'}} {{fa-icon 'home'}}
        {{/link-to}}

        {{#link-to 'workbench.projects' class="btn btn-sm btn-info"}}
            {{t 'workbench.prepare.back_to_projects'}} {{fa-icon 'wrench'}}
        {{/link-to}}
    </h1>
</div>

{{item-list items=model.items onRemove=(action 'remove')}}

{{item-finder mode='craft' onSelect=(action 'add')}}
