<div class="container">
    <h1>
        {{t 'view.project'}} <em>{{model.name}}</em>

        {{#if session.isAuthenticated}}
            {{#link-to 'workbench.projects' class="btn btn-sm btn-info"}}
                {{t 'view.go_to_projects'}} {{fa-icon 'home'}}
            {{/link-to}}
        {{else}}
            {{#link-to 'login' class="btn btn-sm btn-primary"}}
                {{t 'view.login'}} {{fa-icon 'sign-in'}}
            {{/link-to}}
        {{/if}}
    </h1>
</div>

{{item-list items=model.items}}

<div class="container margin-top">
    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table table-hover table-stripped table-item">
                <tbody>
                    {{#each model.sortedStocks as |quantifiable|}}
                        <tr>
                            <td>
                                <img src="{{quantifiable.item.image}}" class="tiny-icon">
                            </td>
                            <td>
                                {{item-link item=quantifiable.item}}
                            </td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar {{if quantifiable.isComplete 'progress-bar-success' 'progress-bar-warning'}}"
                                         style={{quantifiable.progressWidthStyle}}>
                                        <span class="sr-only">{{quantifiable.progress}}%</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                {{quantifiable.quantity}} / {{quantifiable.target}}
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>

    {{#unless model.stocks}}
        <div class="alert alert-warning">
            {{t 'view.empty_project'}}
        </div>
    {{/unless}}

    {{outlet}}
</div>
