<div class="container-fluid">
    <table class="almanax-table">
        {{#each model as |almanax|}}
            <tr class="{{if (is-weekend almanax.date) 'weekend'}}">
                <td>{{moment-format almanax.date 'DD-MM-YYYY'}}</td>
                <td>{{almanax.bonus}}</td>
                <td>
                    {{#if almanax.questItem}}
                        <img src="{{almanax.questItem.image}}">
                    {{/if}}
                </td>
                <td>
                    {{#if almanax.questItem}}
                        {{almanax.questQuantity}}
                        {{item-link item=almanax.questItem}}
                    {{else}}
                        {{almanax.quest}}
                    {{/if}}
                </td>
            </tr>
        {{/each}}
    </table>
</div>

{{outlet}}
