{{#if session.isAuthenticated}}
    <header class="container">
        {{#with session.currentUser as |user|}}
            <div class="user-handle">
                <div class="information">
                    <div>{{user.displayName}}</div>
                    <div>{{user.email}}</div>
                </div>
                <div class="avatar">
                    <img src="{{user.photoURL}}" alt="Avatar">
                </div>
            </div>
        {{/with}}
    </header>
{{/if}}

{{outlet}}

<footer>
    <div class="container">
        <p>{{t 'app.copyrights'}}</p>
    </div>
</footer>