<div class="container">
    <h1>
        {{t 'crafting.workbench_for'}} <em>{{model.name}}</em>

        {{#link-to 'projects' class="btn btn-info"}}
            {{t 'crafting.go_to_projects'}} {{fa-icon 'home'}}
        {{/link-to}}

        {{#link-to 'prepare' model.id class="btn btn-info"}}
            {{t 'crafting.edit_project'}} {{fa-icon 'pencil'}}
        {{/link-to}}
    </h1>
</div>

{{item-list items=model.items}}

<div class="container margin-top">
    <ul class="list-group list-group-lg icons-list-group">
        {{#each model.sortedStocks as |quantifiable|}}
            <li class="list-group-item {{if quantifiable.item.isCraftable 'list-group-item-craftable'}}">
                <img src="{{quantifiable.item.image}}">
                {{item-link item=quantifiable.item}}
                <em>({{quantifiable.item.type}})</em>

                {{#if quantifiable.item.isCraftable}}
                    <button class="btn btn-warning btn-craft btn-xs" {{action 'addToItems' quantifiable}}>
                        {{t 'crafting.send_to_workbench'}}
                    </button>
                {{/if}}

                {{quantity-editor
                    quantity=quantifiable.quantity
                    target=quantifiable.target
                    onChange=(action 'save')}}

                <div class="progress">
                    <div class="progress-bar {{if quantifiable.isComplete 'progress-bar-success' 'progress-bar-warning'}}"
                         style={{quantifiable.progressWidthStyle}}>
                        <span class="sr-only">{{quantifiable.progress}}%</span>
                    </div>
                </div>
            </li>
        {{/each}}
    </ul>

    {{#unless model.stocks}}
        <div class="alert alert-warning">
            {{t 'prepare.empty_project'}}
        </div>
    {{/unless}}

    {{outlet}}
</div>
