<div class="container">
    <button class="btn btn-primary" {{action 'updateTarget' 1}} disabled={{cantIncrement}}>
        {{t 'ocre.add_target'}}
    </button>
    <button class="btn btn-primary" {{action 'updateTarget' -1}} disabled={{cantDecrementTarget}}>
        {{t 'ocre.remove_target'}}
    </button>
</div>
<div class="container margin-top">
    {{ocre-step target=model.target progress=model.step1 stepIndex=1 onChange=(action 'updateStep')}}
    {{ocre-step target=model.target progress=model.step2 stepIndex=2 onChange=(action 'updateStep')}}
    {{ocre-step target=model.target progress=model.step3 stepIndex=3 onChange=(action 'updateStep')}}
    {{ocre-step target=model.target progress=model.step4 stepIndex=4 onChange=(action 'updateStep')}}
    {{ocre-step target=model.target progress=model.step5 stepIndex=5 onChange=(action 'updateStep')}}
    {{ocre-step target=model.target progress=model.step6 stepIndex=6 onChange=(action 'updateStep')}}
    {{ocre-step target=model.target progress=model.step7 stepIndex=7 onChange=(action 'updateStep')}}
    {{ocre-step target=model.target progress=model.step8 stepIndex=8 onChange=(action 'updateStep')}}
    {{ocre-step target=model.target progress=model.step9 stepIndex=9 onChange=(action 'updateStep')}}
    {{ocre-step target=model.target progress=model.step10 stepIndex=10 onChange=(action 'updateStep')}}
    {{ocre-step target=model.target progress=model.step11 stepIndex=11 onChange=(action 'updateStep')}}
    {{ocre-step target=model.target progress=model.step12 stepIndex=12 onChange=(action 'updateStep')}}
    {{ocre-step target=model.target progress=model.step13 stepIndex=13 onChange=(action 'updateStep')}}
    {{ocre-step target=model.target progress=model.step14 stepIndex=14 onChange=(action 'updateStep')}}
    {{ocre-step target=model.target progress=model.step15 stepIndex=15 onChange=(action 'updateStep')}}
    {{ocre-step target=model.target progress=model.step16 stepIndex=16 onChange=(action 'updateStep')}}
    {{ocre-step target=model.target progress=model.step17 stepIndex=17 onChange=(action 'updateStep')}}
    {{ocre-step target=model.target progress=model.step18 stepIndex=18 onChange=(action 'updateStep')}}
    {{ocre-step target=model.target progress=model.step19 stepIndex=19 onChange=(action 'updateStep')}}
    {{ocre-step target=model.target progress=model.step20 stepIndex=20 onChange=(action 'updateStep')}}
    {{ocre-step target=model.target progress=model.step21 stepIndex=21 onChange=(action 'updateStep')}}
    {{ocre-step target=model.target progress=model.step22 stepIndex=22 onChange=(action 'updateStep')}}
    {{ocre-step target=model.target progress=model.step23 stepIndex=23 onChange=(action 'updateStep')}}
    {{ocre-step target=model.target progress=model.step24 stepIndex=24 onChange=(action 'updateStep')}}
    {{ocre-step target=model.target progress=model.step25 stepIndex=25 onChange=(action 'updateStep')}}
    {{ocre-step target=model.target progress=model.step26 stepIndex=26 onChange=(action 'updateStep')}}
    {{ocre-step target=model.target progress=model.step27 stepIndex=27 onChange=(action 'updateStep')}}
    {{ocre-step target=model.target progress=model.step28 stepIndex=28 onChange=(action 'updateStep')}}
    {{ocre-step target=model.target progress=model.step29 stepIndex=29 onChange=(action 'updateStep')}}
    {{ocre-step target=model.target progress=model.step30 stepIndex=30 onChange=(action 'updateStep')}}
    {{ocre-step target=model.target progress=model.step31 stepIndex=31 onChange=(action 'updateStep')}}
    {{ocre-step target=model.target progress=model.step32 stepIndex=32 onChange=(action 'updateStep')}}
    {{ocre-step target=model.target progress=model.step33 stepIndex=33 onChange=(action 'updateStep')}}
    {{ocre-step target=model.target progress=model.step34 stepIndex=34 onChange=(action 'updateStep')}}
    {{ocre-step target=model.target progress=model.step35 stepIndex=35 onChange=(action 'updateStep')}}
</div>

