<div class="container">
    <h1>{{t 'projects.title'}}</h1>

    {{#unless newProject}}
        <button {{action 'create'}} class="btn btn-primary">
            {{t 'projects.new'}}
        </button>
        <button class="btn btn-info" {{action 'import'}}>
            {{t 'projects.import'}}
        </button>
    {{else}}
        <div class="form-inline">
            <div class="form-group">
                {{input value=newProject.name
                    placeholder=(t 'projects.name')
                    class="form-control"}}
            </div>
            <button {{action 'save'}} class="btn btn-success btn-sm">
                {{t 'projects.save'}}
            </button>
            <button {{action 'cancel'}} class="btn btn-default btn-sm">
                {{t 'projects.cancel'}}
            </button>
        </div>
    {{/unless}}
</div>

<hr>

{{#if serializedProject}}
    <div class="container">
        <h3>{{serializedProject.name}}</h3>
        <div class="form-group">
            <textarea rows="10" class="form-control">{{serializedProject.data}}</textarea>
        </div>
        <button class="btn btn-info btn-sm" {{action 'closeSerializedProject'}}>
            {{t 'projects.close'}}
        </button>
    </div>
    <hr>
{{/if}}

{{#each workbench.projects as |project|}}
    <div class="project">
        <div class="container text-center">
            <div>
                <h3>{{project.name}}</h3>
                {{#link-to 'prepare' project.id class="btn btn-sm btn-primary"}}
                    {{t 'projects.open'}}
                {{/link-to}}
                <button class="btn btn-sm btn-info" {{action 'export' project}}>
                    {{t 'projects.export'}}
                </button>
                <button class="btn btn-sm btn-danger" {{action 'delete' project}}>
                    {{t 'projects.delete'}}
                </button>
            </div>
            <div>
                {{#each project.wishlistItems as |wishlistItemQuantifiable|}}
                    <img class="image-item"
                         src={{wishlistItemQuantifiable.item.image}}
                                 alt={{wishlistItemQuantifiable.item.name}}>
                {{/each}}
            </div>
        </div>
    </div>
{{/each}}

{{outlet}}