{{#each model as |project|}}
    <div class="project">
        <h3>
            {{project.name}}
            <small>lvl {{project.level}}</small>
        </h3>
        <p>
            {{#link-to 'prepare' project.id class="btn btn-sm btn-info"}}
                {{t 'projects.prepare'}} {{fa-icon 'pencil'}}
            {{/link-to}}
            {{#link-to 'crafting' project.id class="btn btn-sm btn-primary"}}
                {{t 'projects.go_to_workbench'}} {{fa-icon 'wrench'}}
            {{/link-to}}
            <button class="btn btn-sm btn-danger" {{action 'delete' project}}>
                {{t 'projects.delete'}} {{fa-icon 'trash'}}
            </button>
        </p>
        {{item-list items=project.items}}
    </div>
{{/each}}

<div class="container text-center margin-top">
    {{#unless newProject}}
        <button {{action 'create'}} class="btn btn-lg btn-info">
            {{t 'projects.new'}} {{fa-icon 'plus'}}
        </button>
    {{else}}
        <div class="form-inline">
            <div class="form-group">
                {{input value=newProject.name
                placeholder=(t 'projects.name')
                class="form-control"}}
            </div>
            <button {{action 'save'}} class="btn btn-info btn-sm">
                {{t 'projects.save'}} {{fa-icon 'save'}}
            </button>
            <button {{action 'cancel'}} class="btn btn-default btn-sm">
                {{t 'projects.cancel'}} {{fa-icon 'times'}}
            </button>
        </div>
    {{/unless}}
</div>

{{outlet}}